@code {
    private bool ShowConfirmation = false;
    public void Show() => ShowConfirmation = true;
    public void Hide() => ShowConfirmation = false;
}

@if (ShowConfirmation)
{
    <div class="modal fade" tabindex="-1" style="display:block; background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alert</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="Hide"></button>
                </div>
                <div class="modal-body">
                    <p>Your alert message goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="Hide">Close</button>
                </div>
            </div>
        </div>
    </div>
}